.cabecalho {
    display: flex;
}

.img {
    max-width: 100px;
    max-height: 150px;
    padding: 15px;

}

.logo {

    color: #00ff00;
    font-size: 45px;
    letter-spacing: 0px;
    padding: 65px 70px;
    padding-left: 10px;
    padding-right: 240px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.green {
    color: green;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
 

}

.background1 {
    padding: 50px 150px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

div {
    display: grid;
    justify-content: center;
    border: 35px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center; /* Centraliza todo o conteúdo do nav */
    padding: 10px 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ffff;
}

nav .container {
    display: flex;
    align-items: center; /* Centraliza verticalmente */
    justify-content: center; /* Centraliza horizontalmente */
    width: 100%; /* Garante que o contêiner ocupe toda a largura disponível */
    max-width: 1200px; /* Opcional: limita a largura máxima do conteúdo */
}

nav .logo {
    flex: 1; /* Faz a logo ocupar o espaço disponível */
    display: flex;
    justify-content: center; /* Centraliza a logo */
}

nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
}

nav ul li {
    padding: 5px 15px;
}

nav ul li a {
    color: #00ff00;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}

nav ul li a:hover {
    color: green;
    transition: color 0.4s;
}

.cadastro{
    background-color: #02a802;
    display: flex;
    flex-direction: column;
    padding: 60px;
    border-radius: 10px;
    color: white;
    }

    .texto1{
        font-size: 18px;
        flex-direction: row;
        justify-content: baseline;

    }

  